In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\jbork\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\jbork\anaconda3\lib\site-packages (from selenium) (1.25.8)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import time

In [3]:
driver = webdriver.Chrome(r"C:\Users\jbork\OneDrive\Desktop\chromedriver.exe")

In [4]:
url = "https://www.amazon.in/s?k=mobile+under+20000&ref=nb_sb_noss_2"

In [5]:
driver.get(url)

In [6]:
Name = []
Price = []
Ratings = []
Img = []

In [8]:
for i in range(0, 19):
    
    name = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
    for i in name:
        Name.append(i.text)

    price = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
    for i in price:
        Price.append(i.text)

    rating = driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
    for i in rating:
        Ratings.append(i.text)

    url = driver.find_elements_by_xpath("//ul[@class='a-pagination']")
    for i in url:
        Img.append(i.get_attribute('src'))

    driver.find_element_by_xpath("//a[text()='Next']").click()
    time.sleep(5)

In [11]:
print(len(Name),len(Price),len(Ratings),len(Img))

328 310 355 20

In [16]:
Name = Name[0:310]

In [17]:
Price = Price[0:310]

In [18]:
Ratings = Ratings[0:310]

In [19]:
print(len(Name),len(Price),len(Ratings))

310 310 310

In [20]:
df = pd.DataFrame({})

In [22]:
df['Name'] = Name
df['Price'] = Price
df['Ratings'] = Ratings
#df['Img'] = Img

In [23]:
df

                                                  Name   Price Ratings
0    Vivo Y51 (Titanium Sapphire, 8GB RAM, 128GB RO...  17,990
1    OPPO F17 Pro (Matte Black, 8GB RAM, 128GB Stor...  21,490
2            Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)   8,999
3    Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB...  16,499
4    Samsung Galaxy M01 (Black, 3GB RAM, 32GB Stora...   7,499
..                                                 ...     ...     ...
305   Oppo Reno2 F (Sky White, 6GB RAM, 256GB Storage)   6,999
306  Vivo Y51A (Titanium Sapphire, 8GB, 128GB Stora...   6,799
307  Nokia 800 Tough, 4GB, IP68 Rugged Cell Phone, ...   5,199
308                       (Renewed) Mi A2 (Gold, 64GB)   8,490
309           LG W31 4GB RAM 64GB ROM 4000 mAh Battery   9,490

[310 rows x 3 columns]